body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1,
h2,
h3 {
  color: rgb(58, 58, 189);
}
h3 {
  color: rgb(255, 105, 5);
}
p {
  color: rgb(66, 66, 66);
}
code {
  color: crimson;
}
table {
  border-collapse: collapse;
}
caption {
  margin: 30px;
  color: blue;
  font-size: 20px;
  font-weight: 600;
}
table,
tr,
td {
  border: 1px solid black;
  padding: 5px;
}
thead {
  color: rgb(60, 64, 124);
  text-align: center;
}
tfoot {
  color: blue;
  font-weight: 600;
}
th {
  padding: 5px;
  border: 1px solid black;
}

/* col {
  border: 3px solid blue;
} */
/* tbody {
  color: blue;
} */
/* tfoot {
  color: rgb(228, 96, 20);
} */
