* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 80vw;
  height: 100%;
}
// ul a {
//   color: orange;
// }
ul a:link {
  color: gray;
}
ul a:visited {
  color: orangered;
}
ul a:hover {
  background: rgb(240, 231, 233);
  cursor: pointer;
}
ul a:active {
  color: red;
}
.highlight:hover {
  background: orangered;
  padding: 5px;
  color: white;
  cursor: pointer;
}
.highlight > a {
  display: none;
}
.highlight:hover > a {
  display: inline;
}
ul li:last-child {
  color: rgb(214, 152, 36);
}
ul li:last-child::after {
  color: blue;
  content: " - Don't forget!";
}
ul li:first-child {
  color: red;
}
ul li:first-child::before {
  color: blue;
  content: "Impotant - ";
}
ul li:nth-child(7) {
  color: aqua;
}
// ul a::after {
//   content: "(" attr(href) ")";
// }
.divForHover::first-letter {
  font-size: 150%;
  color: orangered;
}
::selection {
  color: white;
  background: orangered;
}
.image {
  position: relative;
  width: 100%;
  top: 10%;
  margin-top: 20px;
}

h2 {
  position: absolute;
  width: 100px;
  padding: 5px;
  top: 20px;
  left: 280px;
  width: 100%;
  background: white;
  color: orangered;
}
hr {
  position: relative;
  top: 20px;
  width: 700px;
}
i {
  position: absolute;
  top: 0;
  left: 320px;
  font-size: 36px;
  color: orangered;
  background: white;
  padding: 15px;
  border-radius: 50px;
}
.delimiter {
  position: absolute;
  background-color: rgb(255, 225, 225);
}
.nav-styled {
  text-align: center;
  background: coral;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
}
.nav-styled a {
  padding: 5px;
  color: white;
  text-transform: uppercase;
}
.menu-stick {
  position: sticky;
  top: 0;
  z-index: 1000;
}
